
AG Lab 0/bin/

Functions/bin/

Tema 2/bin/

AG Lab 0/obj/Debug/

Tema 2/obj/Debug/

Functions/obj/Debug/

AG tema 1 prim/AG tema 1 prim/bin/

AG tema 1 prim/AG tema 1 prim/obj/

\.vs/
