
AG Lab 0/bin/

Functions/bin/

Tema 2/bin/

AG Lab 0/obj/Debug/

Tema 2/obj/Debug/

Functions/obj/Debug/

AG tema 1 prim/AG tema 1 prim/bin/

AG tema 1 prim/AG tema 1 prim/obj/

\.vs/

Tema 2 Prim/bin/

Tema 2 Prim/obj/

~\$Date Tema 2` Algoritmi Genetici\.xlsx

Tema 3/bin/

Tema 3/obj/

packages/
